.modal_title{
    font-size: 24px;
    font-weight: 500;
}
.label-profile{
    color:#1A87DD;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
    margin: 15px 0 0 0;

}
.btn_close{
    font-size: 14px;
   
}
.btn_savechanges{
    font-size: 14px;
    
}
.modal_avatar,.modal_username,.modal_fullName{
    font-size: 14px;
    font-weight: 600;
}