.container_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./../../../../assets/Backgroundpath.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center;


        h1 {
            color: #1A1A1A;
            font-family: SF Pro Rounded;
            font-size: 32px;
            font-weight: 900;
        }

    input {
    
        width: 315px;
        height: 49px;
        flex-shrink: 0;
        color: #1A1A1A;
        font-family: SF Pro Rounded;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        /* 150% */
        border-radius: 10px;
        border: 1px solid rgba(26, 26, 26, 0.10);
        background: #FFF;
        
    }

    b {
        color: #1A1A1A;
        font-family: SF Pro Rounded;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        
    }
    .create_account{
        color: #1A87DD;
        text-align: center;
        font-family: SF Pro Rounded;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; 
    }
    
}